@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
   
}

.conteudo-principal {
    
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-style: normal;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 400px;
    color: #ECD6C4;
}

.conteudo-principal-escrito-botao {

}